body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

/* VISTAS (ARREGLA EL BUG DE PESTAÑAS) */
#inicio, #clientes, #historial {
  display: none;
}

#inicio.activo,
#clientes.activo,
#historial.activo {
  display: block;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* SECCIONES */
.seccion {
  margin-top: 20px;
}

.seccion h2 {
  margin-bottom: 10px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 10px;
}

/* COCHES */
.coche {
  padding: 12px;
  border-radius: 10px;
}

/* COLORES */
.libre { background: gray; }
.activo { background: green; }
.poco { background: orange; color:black; }
.terminado { background: red; }

/* HISTORIAL BONITO */
.card {
  background: #1e293b;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}
