body {
  font-family: Arial;
  background: linear-gradient(135deg,#0f172a,#020617);
  color: white;
  text-align: center;
}

/* NAV */
button {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* CONTENEDOR PRINCIPAL */
#coches {
  width: 95%;
  margin: auto;
}

/* CATEGORÍA */
.categoria {
  margin-top: 20px;
}

.categoria h2 {
  text-align: left;
  margin-left: 10px;
}

/* GRID BIEN HECHO */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  padding: 10px;
}

/* TARJETAS */
.coche {
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}

/* COLORES */
.libre { background: gray; }
.activo { background: green; }
.poco { background: orange; color:black; }
.terminado { background: red; }

/* MODAL */
.modal {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.7);
  display:flex;
  justify-content:center;
  align-items:center;
}

.contenido {
  background:#1e293b;
  padding:20px;
  width:300px;
  border-radius:10px;
}

.oculto { display:none; }
